body { margin:0; overflow:hidden; }

#off,#on {
    position:absolute;
    bottom:105px;
    left:19%;
    transform:translateX(-50%);
    width:80px;
    opacity:0;
    z-index:9999;
    transition:opacity 0.4s ease;
}

CreateThread(function()
    Wait(500)

    SendNUIMessage({
        type = "images",
        on = Config.Images.On,
        off = Config.Images.Off
    })
end)