endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_maxclients 128
set steam_webApiKey "none"
sets tags "texas, roleplay, qbox, sinister"

sv_licenseKey "cfxk_75zZg0H6dgxnuX7CAtJF_3rNPYp"
sv_hostname "Sinister State TX"
sets sv_projectName "Sinister State TX"
sets sv_projectDesc "Texas FiveM Roleplay — Qbox Framework"
sets locale "en-US"
set sv_enforceGameBuild 3095
set sv_replaceExeToSwitchBuilds false
set mysql_connection_string "mysql://np2_99ot_GBDr97P:ULN9iTN90iIBv32ajMd44FJ2@sqlm-us-chicago.nodecraft.com:3306/np2_dprmBpX95fXv3MeVFg"
rcon_password "SinisterKronus16a8eaa0!"

## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on
set onesync_infinity true

# Chat
set resources_useSystemChat true
set qbx_chat:joinMessage "^2%s joined the server"
set qbx_chat:quitMessage "^1%s left the server (%s)"

# Voice
exec voice.cfg

# Qbox config
setr qb_locale "en"
setr qbx:enableBridge "true"
set qbx:enableQueue "true"
set qbx:bucketLockdownMode "inactive"
set qbx:discordLink "discord.gg/qbox"
set qbx:max_jobs_per_player 1
set qbx:max_gangs_per_player 1
set qbx:setjob_replaces "true"
set qbx:setgang_replaces "true"
set qbx:cleanPlayerGroups "true"
set qbx:allowMethodOverrides "true"
set qbx:disableOverrideWarning "false"
setr qbx:enableVehiclePersistence "false"
setr qbx:vehiclePersistenceType "semi"
set qbx:acknowledge "true"
setr qbx:enableGroupManagement "false"

setr qbx:motd "<p style='padding: 1rem; background-color: #141517; border: 1px solid #373a40; border-radius: 0.5rem; text-align: center;'><span style='color: rgb(191, 87, 0);'>Welcome to Sinister State TX</span></p>"

setr illenium-appearance:locale "en"
setr weather_disablecd true
exec ox.cfg

set npwd:framework "qbx"
set SCREENSHOT_BASIC_TOKEN ""
set NPWD_AUDIO_TOKEN ""

# Sinister custom loadscreen

# Synix Bridge
set synix:supabase_url "https://yqfzaugbrwoluhkddcsh.supabase.co"
set synix:supabase_key "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlxZnphdWdicndvbHVoa2RkY3NoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzEwMTE1MSwiZXhwIjoyMDk4Njc3MTUxfQ.cEVcfQnn3jBCeGKxASH7rP3--gl_KefEiktXQeNCZsc"

# Resources
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
stop basic-gamemode
ensure hardcap
ensure fix_black
ensure baseevents
ensure ox_lib
ensure qbx_core
ensure loadscreen  # Fixed — using default loading screen
# ensure sinister_loadscreen  # Disabled — caused black screen
ensure ox_target
ensure [ox]
ensure [qbx]
ensure [standalone]
ensure sinister_blips
ensure sinister_ai
ensure sinister_apps
ensure sinister_parkranger
ensure sinister_cigarshop2
ensure sinister_vehiclerental
ensure sinister_realestate
ensure sinister_mansion
ensure sinister_hackerspace
ensure sinister_medcenter
ensure sinister_postop
ensure sinister_militarypolice
ensure sinister_firestation
ensure sinister_courthouse
ensure popcornrp_zancudoalert
ensure qbx_lockpick
ensure qbx_evidence
ensure qbx_dutyblips
ensure qbx_helicam
ensure [voice]
ensure [assets]
ensure [npwd-apps]
ensure qbx_npwd
ensure sinister_underworld
ensure npwd
ensure synix_bridge

add_principal identifier.discord:1370770707507708047 group.admin

exec permissions.cfg
exec misc.cfg

set sinister_ai:enabled true
ensure sinister_clockin
ensure sinister_airspace
ensure sinister_hijacking
ensure ps_lib
ensure ps-mdt
ensure sinister_clothing
ensure sinister_zoner
ensure sinister_realtor
ensure sinister_crime